body {
    padding-top: 100px;
    padding-bottom: 20px;
}

#userFormWrapper form {
    margin: 0 auto;
}

.container {
    border-radius: 5px;
    padding: 0 0 20px 0;
    border: 1px solid #E1E1E8;
}

.form-actions {
    background: none;
    padding-left: 200px !important;
}

.form-actions .btn {
    margin-right: 4px;
}

.radioLabel {
    display: inline-block;
    margin-top: 5px;
}

input[type="radio"] {
    margin: 2px 5px 3px 5px
}

.editButtons {
    margin-bottom: 10px;
}

.table {
    width: 1100px;
    margin: 0 auto;
}

caption {
    margin: 10px;
    text-align: left;
    font-size: 1.5em;
}

